why name and value must check is_ascii_encodable in set_cookie ?

![image](https://user-images.githubusercontent.com/13211288/52701458-3cf84380-2fb5-11e9-8e80-c18c52503c1f.png)
当我对cookie设置中文的时候，is_ascii_encodable会返回False。但是，cookie其实是可以设置中文的，不知道你们出于什么考虑，一定要求set_cookie的name和value是is_ascii。有人能跟我解释下吗？

It's directly from [RFC 6265 Section 4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1)
> cookie-name = token cookie-value = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE ) cookie-octet = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E ; US-ASCII characters excluding CTLs, ; whitespace DQUOTE, comma, semicolon, ; and backslash token = <token, defined in [RFC2616], Section 2.2>

If you follow the link for name as well the token is defined as any number of CHAR where CHAR is defined as ASCII characters.

To be fair, reading the source code, it may become quite obvious what it does, but one does not get that impression from the documentation.

I took the liberty of changing the issue title, and labeled it accordingly.

I would like to work on this, could you please assign it to me?

Hi, I'm interested in working on this. @Iam-samyog, are you still planning to pick this up? Happy to leave it to you if so, otherwise I'd like to give it a go.

Yeah, I am working on this. Sorry! 