Update HTTP status code constants wrt RFC 9110

Update our HTTP status code constants (in [`falcon/status_codes.py`](https://github.com/falconry/falcon/blob/master/falcon/status_codes.py)) to conform to [RFC 9110](https://datatracker.ietf.org/doc/html/rfc9110).

We should be largely up-to-speed, there is at least one known inaccuracy wrt `413 Content Too Large` (see [RFC 9110, Section 15.5.14](https://datatracker.ietf.org/doc/html/rfc9110#name-413-content-too-large)). We still use the older `Payload Too Large`.

Hi. I saw the RFC spec sheet and there are a lot of HTTP codes that are removed, one has been reserved and one new code is added. Should I remove their references from `status.rst` file and falcon `__init__` file as well? 

I'm quite new to this so wanted to confirm. Thanks

Hi again @VibhinnS, just checking if you are still working on this issue, and do you need any help?

Hi, can I take this one if it's still open?

Hi @aarcex3 !
Yes, go ahead! (We haven't heard from @VibhinnS since.)

Hi @vytas7! Sorry for being inactive - had interviews and my grandma died 2 weeks ago, so I went off the grid for some time. 
Do you mind if I stay in the community and work on another issue? 

Sorry to hear...
Sure feel free to pick any issue you like, thanks!

Ouch, sad to hear that @VibhinnS :black_heart: 

And no worries at all, you don't owe us anything, come and contribute whenever you like :+1:

@VibhinnS Im very sorry for your lost.

@vytas7 question, which link should I use as source? The one from [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status#information_responses) (it has more info) or the one from [datatracker](https://datatracker.ietf.org/doc/html/rfc9110#name-413-content-too-large), since is the one on the issue description?

@aarcex3 They shouldn't really contradict each other, MDN also includes other RFCs such as WebDAV (which we also include). I don't think we are looking to remove any codes either, let's add the missing ones and sync existing ones according to RFC 9110.