Add cookies parameter to simulate_request

Add a new parameter, _cookies_, to our test client's `simulate_request` & its specialized friends `simulate_*`, where applicable.

We can either accept just a mapping object, or also support fallback to an iterable over pairs if the provided mapping doesn't quack `items()`? Compared to just supporting a mapping, this would enable sending multiple cookies with the same name, which is rather uncommon but apparently not forbidden: [RFC 6265, Section 4.2.2](https://tools.ietf.org/html/rfc6265#section-4.2.2). :arrow_left: @kgriffs thoughts?
Or should we even supporting sending a full-fledged morsel jar, [like `requests` does](https://requests.readthedocs.io/en/master/user/quickstart/#cookies)? :thinking:

Regardless of the interface chosen, the provided cookie key-value pairs should be serialized per [RFC 6265, Section 5.4](https://tools.ietf.org/html/rfc6265#section-5.4).

- [ ] Implement a new parameter _cookies_ in `simulate_request`
- [ ] Add the new parameter to the specialized `simulate_*` methods, where applicable (check, maybe `OPTIONS` doesn't need _cookies_ as browsers to not expose them in preflight IIRC)
- [ ] Revise the FAQ item from https://github.com/falconry/falcon/pull/1632, if merged

@vytas7 Hm, I'll take a look into it.

@vytas7 the issue is still relevant? if yes, I'll work on it, and sorry for an extreme delay.

@myuz Sure, feel free to! :+1: 

And yes, it is still very relevant.

This was resolved fixed in
https://github.com/falconry/falcon/pull/1715
* https://github.com/falconry/falcon/pull/1776